#menulauncher {
	position: fixed;
	left: auto;
	right: auto;
	top: 0px;
	bottom: auto;
	margin-top: 3rem;
	z-index: 999;
}

@font-face {
	font-family: 'digital7'; /*a name to be used later*/
	src: url('../digital-7.ttf'); /*URL to font*/
}

#cardUser {
	max-width: 12rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
